@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;0,900;1,200;1,900&family=Permanent+Marker&family=Raleway:ital,wght@0,100;0,500;1,100;1,500&display=swap');
body{
    text-align: center;
    font-family: 'Raleway';
}

.letra{
    color: azure;
}
body.parallax1 div.container div.rowtext-center h2{
    color: #fff;
}
.parallax1{
    background-image: url('/img/wallpaper-parte1.jpg');
    /* The image used */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/wallpaper-parte1.jpg");
    /* Full height */
    height: 85vh;
    background-attachment: fixed;
    background-position: 100% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: alternate expansion 2.5s infinite;
}
body.parallax1 div.gw4 h2{
    color: #fff;
}
body.parallax1 div.gw4 a img{
    flex-direction: row;
    justify-content: center;
    padding: 3%;
}
section.parallax {
    height: 100%;
    color: rgb(0, 0, 0);
}
.text-justify {
    text-align: justify;
}

img{
    border-radius: 20px;
}

div.col{
    padding: 20px;
}